@model IEnumerable<ShapeShift.Models.Member>


@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}



<div class="container-fluid">


    <div style="text-align:center">
        <div style="font-size:large">
            All Registered Members
        </div>
        <div style="font-size:small;color:gray">
            List of all Members
        </div>
    </div>

    <div style="margin:2px;background-color:white;overflow:auto;margin-bottom:24px;margin-top:16px; box-shadow: 8px 8px 17px #f2f2f2, -8px -8px 17px #ffffff;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8">
                    <partial name="_Search" />
                </div>
                <div class="col-12 col-md-4" style="margin-top:8px;text-align:center">
                    <a asp-action="AddMemberView" asp-controller="Admin" style="">
                        <div class=" btn-sm btn-dark" style="background-color:black;color:white;padding:8px;margin:8px;text-align:center;border-radius:8px">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span>
                                Add New Member
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    @if (TempData["Error"] == null) { }
    else
    {
        <div class="alert alert-danger">
            <strong>Opps!..</strong>@TempData["Error"]
        </div>
    } @if (TempData["Success"] == null) { }
    else
    {
        <div class="alert alert-success alert-dismissible">
            <strong>Success!..</strong>@TempData["Success"]
        </div>
    }

    <table class="table table-responsive-sm  table-striped table-bordered  table-sm" style="color:black">
        <thead style="background-color:#0f1230;color:white">
            <tr>
                <th>
                    First Name
                </th>
                 <th>
                    Last Name
                </th>
                 <th>
                    Phone Number
                </th>
                <th>
                    Email
                </th>
                <th>
                    Trainer ID 
                </th>
             



                <th colspan="3" style="text-align:center">Actions</th>
            </tr>
        </thead>

        <tbody id="myUL">
            @if (Model.Count() != 0)
            {
                @foreach ( var member in Model)
                {
                    <tr>
                        <td>
                           @member.FirstName
                        </td>

                        <td>
                            @member.LastName
                        </td>
                        <td>
                         @member.Phone
                        </td>
                        <td>
                            @member.Email
                        </td>

                        <td>
                            @(member.Trainer != null ? $"{member.Trainer.FirstName} {member.Trainer.LastName}" : "No Trainer Assigned")
                        </td>



                      
                        <td>
                            <a asp-action="" data-toggle="modal" data-target="#Edit_@member.MemberID" style="color:blue" asp-route-id=""><i class="fa fa-pencil" aria-hidden="true"></i> <span>Edit</span> </a>
                        </td>
                        <td>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#Delete_@member.MemberID" style="color:red">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>

                    <!-- Delete Member Modal -->
                    <div class="modal fade" id="Delete_@member.MemberID" tabindex="-1" aria-labelledby="deleteMemberModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteMemberModalLabel">Delete Member</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>You are about to remove the member named: <strong>@member.FirstName @member.LastName</strong> from the system. Are you sure you want to continue?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <!-- Form for deleting member -->
                                    <form asp-action="DeleteMember" asp-controller="Admin" method="post">
                                        <input type="hidden" name="id" value="@member.MemberID" />
                                        <button type="submit" class="btn btn-danger">Remove Member</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>






                }
            }
            else
            {
                <tr>
                    <td colspan="5" style="color:red;text-align:center">
                        Members not Found
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>


